$cost1: rgba(128, 128, 128, 0.5);
$cost2: rgba(0, 128, 0, 0.5);
$cost3: rgba(0, 0, 255, 0.5);
$cost4: rgba(128, 0, 128, 0.5);
$cost5: rgba(255, 217, 0, 0.5);

$map: (
  1: $cost1,
  2: $cost2,
  3: $cost3,
  4: $cost4,
  5: $cost5,
);

.combined {
  display: inline-block;
  position: relative;
  border-radius: 12px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  margin: 3px;
  .box {
    position: absolute;
    border-radius: 12px;
    width: 64px;
    height: 64px;
    box-sizing: content-box;
    overflow: hidden;
    opacity: 0.2;
    &:hover {
      opacity: 0.7;
    }
    &.active {
      opacity: 1;
    }

    .img {
      height: 120%;
      margin-top: -6px;
      margin-left: -6px;
    }

    .cost {
      display: block;
      width: 24px;
      position: absolute;
      top: 0;
      right: 2px;
      color: #fff;
      font-weight: 700;
      text-shadow: -1px 0 2px #000, 0 1px 2px #000, 1px 0 2px #000,
        0 -1px 2px #000;
    }
  }
  .name {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-shadow: -1px 0 2px #000, 0 1px 2px #000, 1px 0 2px #000,
      0 -1px 2px #000;
    pointer-events: none;
    font-size: 14px;
  }
}

@each $k, $v in $map {
  .combined#{$k} {
    border: 1px solid $v;
  }
  .cost#{$k} {
    background-color: $v;
  }
}
