.wrapper {
  border: 3px solid red;
  font-size: 13px;
  color: #fff;
  font-family: "맑은 고딕" sans-serif;
  margin: 12px;
}

.champwrapper {
  display: flex;
}

.icon {
  width: 20px;
  height: 20px;
}
