.wrapper {
  display: inline-block;
  border: 2px solid grey;
  font-size: 13px;
  color: #fff;
  font-family: "맑은 고딕" sans-serif;
  margin: 16px;
}

// .champwrapper {
// }

.icon {
  width: 20px;
  height: 20px;
}
